// Fonts
// @import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
// @import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

.bg-purple {
    background-color: #7533f9 !important;
}

#main a {
    color: gray;
}

#main a:hover {
    color: rgb(73, 73, 73);
}

#footer a {
    text-decoration: none;
    color: black;
}

#footer a:hover {
    text-decoration: underline;
    color: var(--bs-primary) !important;
}
